<!-- <p>{{person?.name}}</p>
<h1>{{myInputMessage}}</h1>
<ul *ngFor='let item of items; index as in'>
    <li>{{item.fname}} : {{in}}</li>
</ul> -->


<!-- <form #userName="ngForm" (ngSubmit)="onSubmit(userName.value)">
    <input type="text" name="username" placeholder="username" ngModel>
    <br/>
    <br/>
    <input type="password" name="password" placeholder="password" ngModel>
    <br/>
    <br/>
    <input type="submit" value="Submit">
</form> -->

<!-- <form [formGroup]="form" (ngSubmit)="onReactiveFormSubmit(form)">
    <input type="text" name="username" placeholder="username" formControlName="fname">
    <br/>
    <br/>
    <input type="password" name="password" placeholder="password" formControlName="lname">
    <br/>
    <br/>
    <input type="email" name="email" placeholder="email" formControlName="email">
    <br/>
    <br/>
    <input type="submit" value="Submit">
</form> -->

